configuration {
	modi:                       "drun";
	font:                       "Terminess Nerd Font 13";
	show-icons:                 true;
	display-drun:               " ";
	drun-display-format:        "{name}";
	terminal:                   "alacritty";
}

@theme "/dev/null" /* Clear hardcoded internal defaults */

* {
	bg-color:           #282828;
	card-bg:            #32302f;
	fg-color:           #d4be98;
	muted:              #665c54;
	purple:             #d3869b;
	cyan-accent:        #89b482;
	green-accent:       #a9b665;

	background-color:   transparent;
	text-color:         @fg-color;
}

window {
    background-color:   @bg-color;
    border:             2px;
    border-color:       #89b482;
    border-radius:      0px;
    width:              700px;
    padding:            20px;
}

mainbox {
	children:           [ inputbar, listview ];
	spacing:            15px;
}

/* Search Prompt Line */
inputbar {
	background-color:   @card-bg;
	border:             1px;
	border-color:       #1f2335;
	border-radius:      4px;
	padding:            10px 15px;
	children:           [ prompt, entry ];
}

prompt {
	text-color:         @green-accent;
	margin:             0px 12px 0px 0px;
}

entry {
	text-color:         @fg-color;
	placeholder:        "Search...";
	placeholder-color:  @muted;
}

/* Applications grid */
listview {
    fixed-height:       true;
    lines:              4;
    columns:            4;
    scrollbar:          false;
    spacing:            8px;
	flow:               horizontal;
}

element {
    orientation:        vertical;
    padding:            14px 8px;
    border-radius:      6px;
    spacing:            8px;
    children:           [ element-icon, element-text ];
}

element-icon {
    size:               48px;
    horizontal-align:   0.5;
    background-color:   transparent;
}

element-text {
    text-color:         @fg-color;
    horizontal-align:   0.5;
    vertical-align:     0.5;
}

element normal.normal,
element alternate.normal {
    background-color:   transparent;
}

element selected.normal {
    background-color:   @card-bg;
    border:             0px;
}

element-text selected {
    text-color:         @cyan-accent;
}
